@using Hyl.Core.Domain.Survey;
@model SurveyDirectory
@{
    var question = (Question)ViewData["question"];
}
<div class="surveyQuItemBody">
    <div class="initLine"></div>
    <div class="quInputCase" style="display: none;">
        <input type="hidden" class="quType" value="PAGETAG">
        <input type="hidden" class="quId" value="@question.Id">
        <input type="hidden" class="orderById" value="@question.OrderById" />
        <input type="hidden" class="isRequired" value="@question.IsRequired">
        <div class="quLogicInputCase">
            @foreach (var quLogicEn in question.QuestionLogics)
            {
                <div class="quLogicItem quLogicItem_@(question.QuestionLogics.IndexOf(quLogicEn))">

                    <input type="hidden" class="cgQuItemId" value="@quLogicEn.QuItemId" />
                    <input type="hidden" class="skQuId" value="@quLogicEn.SkipToQuId" />
                </div>
            }
        </div>
    </div>
    <div class="surveyQuItem">
        <div class="pageBorderTop nohover"></div>
        <div class="surveyQuItemContent" style="padding-top: 12px;height: 30px;min-height: 30px;">
            <!-- <div class="pageQuContent">下一页（1/2）</div> -->
            <a href="#" class="sbtn24 sbtn24_0 nextPage_a">下一页</a>&nbsp;&nbsp;
            @if (pageNo > 1)
            {
                <a href="#" class="sbtn24 sbtn24_1 prevPage_a">上一页</a>
                <input type="hidden" name="prevPageNo" value="@(pageNo-1)"/>
            }
            @(pageNo = pageNo + 1)
            <input type="hidden" name="nextPageNo" value="@pageNo"/>
        </div>
    </div>
</div>