@using Hyl.Core.Domain.Survey;
@using Hyl.Core.Helpers.Utility;
@model SurveyDirectory
@{
    var question = (Question)ViewData["question"];
}
<div class="surveyQuItemBody">
    <div class="initLine"></div>
    <div class="quInputCase" style="display: none;">
        <input type="hidden" class="quType" value="SCORE">
        <input type="hidden" class="quId" value="@question.Id">
        <input type="hidden" class="orderById" value="@question.OrderById" />
        <input type="hidden" class="isRequired" value="@question.IsRequired">
        <div class="quLogicInputCase">
            @foreach (var quLogicEn in question.QuestionLogics)
            {
                <div class="quLogicItem quLogicItem_@(question.QuestionLogics.IndexOf(quLogicEn))">
                    <input type="hidden" class="cgQuItemId" value="@quLogicEn.QuItemId" />
                    <input type="hidden" class="skQuId" value="@quLogicEn.SkipToQuId" />
                    <input type="hidden" class="geLe" value="@quLogicEn.GeLe" />
                    <input type="hidden" class="logicId" value="@quLogicEn.Id" />
                    <input type="hidden" class="scoreNum" value="@quLogicEn.ScoreNum" />
                    <input type="hidden" class="logicType" value="@quLogicEn.LogicType">
                </div>
            }
        </div>
        <input type="hidden" name="qu_@(question.QuType)_@(question.Id)" value="item_qu_@(question.QuType)_@(question.Id)_" />
    </div>
    <div class="surveyQuItem">
        <div class="surveyQuItemContent">
            <div class="quCoTitle">
                <legend>
                    <span class="quTitleNum">@(Model.Questions.IndexOf(question))、</span>
                    <span class="quTitleText">@Html.Raw(Utils.HtmlDecode(question.QuName))</span>
                </legend>
            </div>
            <div class="quCoItem">
                @foreach (var item in question.QuScores)
                {
                    <div class="scoreRow quScoreOptionTr">
                        <input class="dwScoreOptionId" value="@item.Id" disabled="disabled" type="hidden" />
                        <input type="hidden" class="answerTag" value="0">
                        <fieldset class="starRating" data-role="controlgroup">
                            <legend>@Html.Raw(Utils.HtmlDecode(item.OptionName))</legend>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </fieldset>
                        <input name="item_qu_@(question.QuType)_@(question.Id)_@item.Id" value="" type="hidden" class="scoreNumInput">
                    </div>
                }
            </div>
        </div>

    </div>
</div>