@using Hyl.Core.Domain.Survey;
@using Hyl.Core.Helpers.Utility;
@model SurveyDirectory
@{
    var question = (Question)ViewData["question"];
}
<div class="surveyQuItemBody">
    <div class="initLine"></div>
    <div class="quInputCase" style="display: none;">
        <input type="hidden" class="quType" value="CHECKBOX">
        <input type="hidden" class="quId" value="@question.Id">
        <input type="hidden" class="orderById" value="@question.OrderById" />
        <input type="hidden" class="isRequired" value="@question.IsRequired">
        <input type="hidden" class="answerTag" value="0">
        <div class="quLogicInputCase">
            @foreach (var quLogicEn in question.QuestionLogics)
            {
                <div class="quLogicItem quLogicItem_@(question.QuestionLogics.IndexOf(quLogicEn))">
                    <input type="hidden" class="cgQuItemId" value="@quLogicEn.QuItemId" />
                    <input type="hidden" class="skQuId" value="@quLogicEn.SkipToQuId" />
                    <input type="hidden" class="logicId" value="@quLogicEn.Id" />
                    <input type="hidden" class="logicType" value="@quLogicEn.LogicType" />
                </div>
            }
        </div>
        <input type="hidden" name="qu_@(question.QuType)_@question.Id" value="tag_qu_@(question.QuType)_@(question.Id)_" />
    </div>
    <div class="surveyQuItem">

        <div class="surveyQuItemContent">
            <div class="quCoTitle">
                <div class="quCoNum">@(Model.Questions.IndexOf(question) + 1)、</div>
                <div class="editAble quCoTitleEdit">@Html.Raw(Utils.HtmlDecode(question.QuName))</div>
            </div>
            <div class="quCoItem">
                <ul @(question.Hv == 1 ? "class='transverse'" : string.Empty)>
                    @foreach (var item in question.QuCheckboxes)
                    {
                        <li class="quCoItemUlLi">
                            <div class="dwQuOptionItemContent">
                                <label class="dwCheckboxStyle dwQuInputLabel"></label>
                                <input type="checkbox" name="tag_qu_@(question.QuType)_@(question.Id)_@item.Id" value="@item.Id">
                                <label class="editAble quCoOptionEdit quCoOptionPadding">@Html.Raw(Utils.HtmlDecode(item.OptionName))</label>
                            </div>
                        </li>
                    }
                </ul>
            </div>

        </div>

    </div>
</div>