@using Hyl.Core.Domain.Survey;
@model SurveyDirectory
@{
    var question = (Question)ViewData["question"];
}
<div class="surveyQuItemBody">
    <div class="initLine"></div>
    <div class="quInputCase" style="display: none;">
        <input type="hidden" class="quType" value="PARAGRAPH">
        <input type="hidden" class="quId" value="@question.Id">
        <input type="hidden" class="orderById" value="@question.OrderById" />
        <input type="hidden" class="isRequired" value="@question.IsRequired">
        <div class="quLogicInputCase">
            @foreach (var quLogicEn in question.QuestionLogics)
            {
                <div class="quLogicItem quLogicItem_@(question.QuestionLogics.IndexOf(quLogicEn))">
                    <input type="hidden" class="cgQuItemId" value="@quLogicEn.QuItemId" />
                    <input type="hidden" class="skQuId" value="@quLogicEn.SkipToQuId" />
                </div>
            }
        </div>
    </div>
    <div class="surveyQuItem">
        <div class="surveyQuItemContent" style="min-height: 35px;">
            <div class="quCoTitle" style="background: rgb(243, 247, 247);">
                <div class="editAble quCoTitleEdit" style="padding-left: 15px;">@Html.Raw(question.QuName)</div>
            </div>
        </div>
    </div>
</div>