@using Hyl.Core.Domain.Survey;
@model SurveyDirectory
@{
    var question = (Question)ViewData["question"];
}
<div class="surveyQuItemBody">
    <div class="initLine"></div>
    <div class="quInputCase" style="display: none;">
        <input type="hidden" name="quType" value="RADIO">
        <input type="hidden" name="quId" value="@question.Id">
        <input type="hidden" name="orderById" value="@question.OrderById" />
        <input type="hidden" name="saveTag" value="1">
        <input type="hidden" name="hoverTag" value="0">
        <input type="hidden" name="isRequired" value="@question.IsRequired">
        <input type="hidden" name="hv" value="@question.Hv">
        <input type="hidden" name="randOrder" value="@question.RandOrder">
        <input type="hidden" name="cellCount" value="@question.CellCount">
        <div class="quLogicInputCase">
            <input type="hidden" name="quLogicItemNum" value="@question.QuestionLogics.Count">
            @foreach (var quLogicEn in question.QuestionLogics)
            {
                <div class="quLogicItem quLogicItem_@(question.QuestionLogics.IndexOf(quLogicEn))">
                    <input type="hidden" name="quLogicId" value="@quLogicEn.Id" />
                    <input type="hidden" name="cgQuItemId" value="@quLogicEn.QuItemId" />
                    <input type="hidden" name="skQuId" value="@quLogicEn.SkipToQuId" />
                    <input type="hidden" name="visibility" value="1">
                    <input type="hidden" name="logicSaveTag" value="1">
                </div>
            }
        </div>
    </div>
    <div class="surveyQuItem">

        <div class="surveyQuItemContent">
            <div class="quCoTitle">
                <div class="quCoNum">@(Model.Questions.IndexOf(question))、</div>
                <div class="editAble quCoTitleEdit">@Html.Raw(question.QuName)</div>
                <input type="hidden" name="quTitleSaveTag" value="1">
            </div>
            <div class="quCoItem">
                <ul @(question.Hv == 1 ? "class='transverse'" : string.Empty)>
                    @foreach (var item in question.QuRadios)
                    {
                        <li class="quCoItemUlLi">
                            <div class="dwQuOptionItemContent">
                                <label class="dwRedioStyle dwQuInputLabel"></label>
                                <input type="radio"><label class="editAble quCoOptionEdit quCoOptionPadding">@item.OptionName</label>
                                <div class="quItemInputCase"><input type="hidden" name="quItemId" value="@item.Id"><input type="hidden" name="quItemSaveTag" value="1"></div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>

    </div>
</div>