@using Hyl.Core.Domain.Survey
@using Hyl.Core.Helpers.Utility
@model SurveyDirectory
@{
    Layout = null;
    int pageNo = 1, isNextPage = 0;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>问卷编辑</title>
    <link href="/Content/js/plugs/jquery-ui-1.10.3.custom/css/mycss/jquery-ui-1.10.3.custom.css" rel="stylesheet" type="text/css" />
    <link href="/Content/js/plugs/uploadify-v3.1/uploadify.css" rel="stylesheet" type="text/css" />
    <link href="/Content/css/preview-dev.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/Content/js/plugs/colpick-jQuery/css/colpick.css" type="text/css" />
    <link href="/Content/js/plugs/font-awesome-4.2.0/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/js/jquery.mCustomScrollbar/jquery.mCustomScrollbar.min.css" rel="stylesheet" />
    <link href="~/Content/css/prepublish.css" rel="stylesheet" />
</head>
<body>

    <div id="wrap">
        <input type="hidden" id="id" name="id" value="@Model.Id">
        <input type="hidden" id="ctx" name="ctx" value="/content">
        <input type="hidden" id="surveyStyleId" value="@Model.SurveyStyle.Id">
        <input type="hidden" id="prevHost" value="/content">
        <div id="preview_head">
            <div class="leftTabbar">
                <ul>
                    <li>
                        <div class="tabbarTitle">收集规则</div>
                        @Html.Partial("_Rule")
                    </li>
                    <li>
                        <div class="tabbarTitle">样式模板</div>
                        @Html.Partial("_Style")
                    </li>
                    <li style="display: none;">
                        <div class="tabbarTitle">手机端样式</div>
                        @Html.Partial("_RuleMobile")
                    </li>
                    <li>
                        <div class="centerTabbar">
                            <a href="#pc" class="centerTabbarBtn active" title="PC端"><i class="fa fa-desktop"></i></a>
                            <a href="#phone" class="centerTabbarBtn" title="手机端"><i class="fa fa-mobile-phone"></i></a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="rightTabbar">
                <a id="confirgDevSuvey" href="#" class="sbtn24 sbtn24_0">确认发布</a>
                <a href="#" class="sbtn24 sbtn24_0" id="saveStyleDev">保　存</a>
                <a href="@Url.Action("Index", "SurveyDesign", new { surveyId = Model.Id })" class="sbtn24 sbtn24_1">返回修改</a>
            </div>
            <div style="clear: both;"></div>
        </div>

        <div id="dw_body" style="">
            <div id="dw_body_content">
                <div id="dwSurveyHeader">
                    <div id="dwSurveyLogo" style="position: absolute;right: 0;padding-top:0px;"><img src="/content/images/logo/sample_logo.png" height="50" /> </div>
                    <div id="dwSurveyTitle" class="noLogoImg">
                        <div id="dwSurveyName" class="editAble dwSvyName">@Html.Raw(Utils.HtmlDecode(Model.SurveyName))</div>
                    </div>
                    <div id="dwSurveyNote">
                        <div id="dwSurveyNoteEdit" class="editAble">@Html.Raw(Utils.HtmlDecode(Model.SurveyDetail.SurveyNote))</div>
                    </div>
                </div>
                <div id="dwSurveyQuContent" style="">
                    <div id="dwSurveyQuContentBg">
                        <ul id="dwSurveyQuContentAppUl">
                            <!-- 题目内容 -->
                            @if (Model.Questions != null && Model.Questions.Count > 0)
                            {
                                foreach (var question in Model.Questions)
                                {
                                    <li class="li_surveyQuItemBody surveyQu_@pageNo" style="@(pageNo > 1 ? " display:none" : "")">
                                        @if (question.QuType == QuType.RADIO)
                                        {
                                            <!-- 单选题 -->
                                            @Html.Partial("QuestionType/_Radio", Model, new ViewDataDictionary { { "question", question } })
                                        }
                                        else if (question.QuType == QuType.CHECKBOX)
                                        {
                                            <!-- 多选题 -->
                                            @Html.Partial("QuestionType/_Checkbox", Model, new ViewDataDictionary { { "question", question } })

                                        }
                                        else if (question.QuType == QuType.FILLBLANK)
                                        {
                                            <!-- 填空题 -->
                                            @Html.Partial("QuestionType/_Fillblank", Model, new ViewDataDictionary { { "question", question } })
                                        }
                                        else if (question.QuType == QuType.SCORE)
                                        {
                                            <!-- 评分题 -->
                                            @Html.Partial("QuestionType/_Score", Model, new ViewDataDictionary { { "question", question } })
                                        }
                                        else if (question.QuType == QuType.ORDERQU)
                                        {
                                            <!-- 排序题 -->
                                            @Html.Partial("QuestionType/_Orderqu", Model, new ViewDataDictionary { { "question", question } })
                                        }
                                        else if (question.QuType == QuType.PAGETAG)
                                        {
                                            <!-- 分页题 -->
                                            @Html.Partial("QuestionType/_Pagetag", Model, new ViewDataDictionary { { "question", question } })
                                        }
                                        else if (question.QuType == QuType.PARAGRAPH)
                                        {
                                            <!--段落说明 -->
                                            @Html.Partial("QuestionType/_Paragraph", Model, new ViewDataDictionary { { "question", question } })
                                        }
                                        else if (question.QuType == QuType.MULTIFILLBLANK)
                                        {
                                            <!--多项填空题 -->
                                            @Html.Partial("QuestionType/_Multifillblank", Model, new ViewDataDictionary { { "question", question } })
                                        }
                                        else if (question.QuType == QuType.CHENRADIO)
                                        {
                                            <!-- 矩阵单选题 -->
                                            @Html.Partial("QuestionType/_ChenRadio", Model, new ViewDataDictionary { { "question", question } })
                                        }
                                        else if (question.QuType == QuType.CHENCHECKBOX)
                                        {
                                            <!--矩阵多选题 -->
                                            @Html.Partial("QuestionType/_Chencheckbox", Model, new ViewDataDictionary { { "question", question } })
                                        }
                                        else if (question.QuType == QuType.CHENFBK)
                                        {
                                            <!-- 矩阵填空题 -->
                                            @Html.Partial("QuestionType/_Chenfbk", Model, new ViewDataDictionary { { "question", question } })
                                        }
                                        else if (question.QuType == QuType.CHENSCORE)
                                        {
                                            <!-- 矩阵评分题 -->
                                            @Html.Partial("QuestionType/_Chenscore", Model, new ViewDataDictionary { { "question", question } })
                                        }
                                    </li>
                                }
                            }

                            <li class="li_surveyQuItemBody surveyQu_@pageNo" style="@(pageNo > 1 ? " display: none" : "")">
                                <div class="surveyQuItemBody">
                                    <div class="surveyQuItem">
                                        <div id="resultProgressRoot">
                                            <div class="progress-label">50%</div>
                                            <div id="resultProgress" class="progressbarDiv"></div>
                                        </div>
                                        <div class="surveyQuItemContent" style="padding-top: 12px;height: 30px;min-height: 30px;">
                                            <a href="#" class="sbtn24 sbtn24_0 submitSurvey">提&nbsp;交</a>&nbsp;&nbsp;
                                            @if (pageNo > 1)
                                            {
                                                <a href="#" class="sbtn24 sbtn24_1 prevPage_a">上一页</a>
                                                <input type="hidden" name="prevPageNo" value="@(--pageNo)">
                                            }
                                            @{pageNo = pageNo + 1; }
                                            <input type="hidden" name="nextPageNo" value="@(pageNo)">
                                        </div>
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="dwPhone">
            <iframe name="PhoneSurvey" frameborder="0" src="" class="uploadfile" id="PhoneSurvey" style="width: 298px;height: 525px;margin: 86px 0 0 21px;"></iframe>
        </div>
    </div>

    <script type="text/javascript" src="/Content/js/plugs/jquery-ui-1.10.3.custom/js/jquery-1.10.1.js"></script>
    <script type="text/javascript" src="/Content/js/plugs/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.js"></script>
    <script type="text/javascript" src="/Content/js/plugs/colpick-jQuery/js/colpick.js"></script>
    <script type="text/javascript" src="/Content/js/plugs/uploadify-v3.1/jquery.uploadify-3.1.js"></script>
    <script type="text/javascript" src="/Content/js/dw/uploadify.js"></script>
    <script type="text/javascript" src="/Content/js/plugs/My97DatePickerBeta/My97DatePicker/WdatePicker.js"></script>
    <script src="~/Content/js/jquery.mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js"></script>

    <script type="text/javascript">
    var publishurl = '@Url.Action("Publish", "Survey", new { surveyId = Model.Id })';
    var StyleSave = '@Url.Action("StyleSave", "Survey")';
        $(document).ready(function () {
        $(".pc_themeContentScorll").mCustomScrollbar({
            theme: "dark"
        });
        $("#confirgDevSuvey").click(function () {
            window.location.href = publishurl;
        });

        $("#preview_head .leftTabbar ul li").hover(function () {
            var visibleDialog = $(this).find(".tabbarDialog:visible");
            if (!visibleDialog[0]) {
                $(this).addClass("hover");
            }
        }, function () {
            $(this).removeClass("hover");
        });

        $("#dw_body").hover(function () {
            var visibleDialog = $("#preview_head").find(".tabbarDialog:visible");
            if (visibleDialog[0]) {
                var visibleDialogClass = visibleDialog.attr("class");
                if (visibleDialogClass.indexOf("tabbarDialogTheme") >= 0) {
                    visibleDialog.css({ opacity: 0.2, borderWidth: "2px" });
                }
            }
        }, function () {
            var visibleDialog = $("#preview_head").find(".tabbarDialog:visible");
            if (visibleDialog[0]) {
                var visibleDialogClass = visibleDialog.attr("class");
                if (visibleDialogClass.indexOf("tabbarDialogTheme") >= 0) {
                    visibleDialog.css({ opacity: 1 });
                }
            }
        });

        var leftTabbarLiClickStatus = 0;
        $(".tabbarDialog").click(function () {
            leftTabbarLiClickStatus = 1;
        });

        $("#preview_head .leftTabbar ul li").click(function () {
            if (leftTabbarLiClickStatus != 1) {
                $(".tabbarDialog").not($(this).find(".tabbarDialog")).hide();
                $(this).find(".tabbarDialog").toggle();
                $(".js-tabselected").removeClass("js-tabselected");
                $(this).removeClass("hover");
                var visibleDialog = $(this).find(".tabbarDialog:visible");
                if (visibleDialog[0]) {
                    $(this).addClass("js-tabselected");
                    var visibleDialogClass = visibleDialog.attr("class");
                    if (visibleDialogClass.indexOf("tabbarDialogTheme") >= 0) {
                        visibleDialog.css({ opacity: 1, borderWidth: "1px" });
                        visibleDialog.find(".tabbarDialogContent").css({ visibility: "visible" });
                    }
                }
            }
            leftTabbarLiClickStatus = 2;
        });

        var inputTempVal = null;
        $(".surveyPaddingInput").focus(function () {
            inputTempVal = $(this).val();
        });
        $(".surveyPaddingInput").blur(function () {
            var thVal = $(this).val();
            if (/^\d+$/.test(thVal)) {
                setSurveyStyle($(this));
            } else {
                $(this).val(inputTempVal);
            }
        });

        $(".surveyStyleChange").change(function () {
            setSurveyStyle($(this));
        });

        function setSurveyStyle(eventObj) {
            var objName = $(eventObj).attr("name");
            var thPaddingVal = $(eventObj).val();
            if (objName == "surveyHeadPaddingTop") {
                $("#dwSurveyHeader").css({ "padding-top": thPaddingVal + "px" });
            } else if (objName == "surveyHeadPaddingBottom") {
                $("#dwSurveyHeader").css({ "padding-bottom": thPaddingVal + "px" });
            } else if (objName == "surveyContentPaddingLeft") {
                $("#dwSurveyQuContentBg").css({ "padding-left": thPaddingVal + "px" });
            } else if (objName == "surveyContentPaddingRight") {
                $("#dwSurveyQuContentBg").css({ "padding-right": thPaddingVal + "px" });
            } else if (objName == "surveyWidth") {
                $("#dw_body_content").width(thPaddingVal);
            }
        }

        $(document).click(function () {
            if (leftTabbarLiClickStatus == 0) {
                $(".tabbarDialog").hide();
                $(".js-tabselected").removeClass("js-tabselected");
            }
            leftTabbarLiClickStatus = 0;
        });

        //分页设置 nextPage_a prevPage_a
        $(".nextPage_a").click(function () {
            var thParent = $(this).parent();
            var nextPageNo = thParent.find("input[name='nextPageNo']").val();
            $(".li_surveyQuItemBody").hide();
            $(".surveyQu_" + nextPageNo).fadeIn("slow");
            $("html,body").animate({ scrollTop: 10 }, 500);
            return false;
        });
        $(".prevPage_a").click(function () {
            var thParent = $(this).parent();
            var prevPageNo = thParent.find("input[name='prevPageNo']").val();
            $(".li_surveyQuItemBody").hide();
            $(".surveyQu_" + prevPageNo).fadeIn("slow");
            $(window).scrollTop(10);
            return false;
        });

        $("#saveStyleDev").click(function () {
            var url = StyleSave, surveyId = $("#id").val();

            var survey = new Object();
            survey.id = surveyId;
            //收集规则
            survey.SurveyDetail = new Object();
            survey.SurveyDetail.DirId = surveyId;
            survey.SurveyDetail.SurveyNote = encodeURIComponent($("#dwSurveyNoteEdit").html().trim());
            survey.SurveyDetail.effective = $("input[name='effective']:checked")[0] ? "4" : "0";
            survey.SurveyDetail.effectiveIp = $("input[name='effectiveIp']:checked")[0] ? "1" : "0";
            survey.SurveyDetail.rule = $("input[name='rule']:checked")[0] ? "3" : "0";
            survey.SurveyDetail.refresh = $("input[name='refresh']:checked")[0] ? "1" : "0";
            survey.SurveyDetail.ruleCode = $("input[name='ruleCode']").val();
            survey.SurveyDetail.mailOnly = $("input[name='mailOnly']:checked")[0] ? "1" : "0";
            survey.SurveyDetail.ynEndNum = $("input[name='ynEndNum']:checked")[0] ? "1" : "0";
            survey.SurveyDetail.ynEndTime = $("input[name='ynEndTime']:checked")[0] ? "1" : "0";
            survey.SurveyDetail.endTime = $("input[name='endTime']").val();
            survey.SurveyDetail.endNum = $("input[name='endNum']").val();
            survey.SurveyDetail.showShareSurvey = $("input[name='showShareSurvey']:checked")[0] ? "1" : "0";
            survey.SurveyDetail.showAnswerDa = $("input[name='showAnswerDa']:checked")[0] ? "1" : "0";


            //样式模板
            if ($("#surveyStyleId").val() != "" && parseInt($("#surveyStyleId").val())) {
                survey.SurveyStyle = new Object();
                survey.SurveyStyle.id = $("#surveyStyleId").val();
                survey.SurveyStyle.DirId = surveyId;
            }
            $.ajax({
                url: url,
                data: survey,
                type: "post",
                success: function (msg) {
                    notify("保存成功！", 5000);
                }
            });
            return false;
        });


        var prevHost = $("#prevHost").val();
        //初始化弹出窗口参数
        var surveyStyleId = $("#surveyStyleId").val();
        if (surveyStyleId != "" && surveyStyleId != "0") {
            /** 背景样式 **/
            //surveyStyle.showBodyBi
            var showBodyBi = "@Model.SurveyStyle.ShowBodyBi";

            //surveyStyle.bodyBgColor
            var bodyBgColor = "@Model.SurveyStyle.BodyBgColor";
            var bodyBgColorObj = $("input[name='bodyBgColor']");
            bodyBgColorObj.val(bodyBgColor);
            var bodyBCThemeParamObj = bodyBgColorObj.parents(".theme_param");
            bodyBCThemeParamObj.find(".color_box").css({ "background-color": bodyBgColor });
            $("body").css({ "background-color": bodyBgColor });

            //surveyStyle.bodyBgImage
            var bodyBgImage = "@Model.SurveyStyle.BodyBgImage";
            var bodyBgImageObj = $("input[name='bodyBgImage']");
            var bodyBIThemeParamObj = bodyBgImageObj.parents(".theme_param");
            bodyBgImageObj.val(bodyBgImage);
            bodyBIThemeParamObj.find(".previewImage").attr("src", prevHost + bodyBgImage);
            if (showBodyBi == 1) {
                $("body").css({ "background-image": "url(" + prevHost + bodyBgImage + ")" });
                $("input[name='showBodyBi']").prop("checked", true);
            }

            /** 表头样式 **/
            //surveyStyle.showBodyBi
            var showSurveyHbgi = "@Model.SurveyStyle.ShowSurveyHbgi";

            //surveyStyle.bodyBgColor
            var surveyHeadBgColor = "@Model.SurveyStyle.SurveyHeadBgColor";
            var surveyHeadBgColorObj = $("input[name='surveyHeadBgColor']");
            var surveyHBCThemeParamObj = surveyHeadBgColorObj.parents(".theme_param");
            surveyHeadBgColorObj.val(surveyHeadBgColor);
            surveyHBCThemeParamObj.find(".color_box").css({ "background-color": surveyHeadBgColor });
            $("#dwSurveyHeader").css({ "background-color": surveyHeadBgColor });

            //surveyStyle.bodyBgImage
            var surveyHeadBgImage = "@Model.SurveyStyle.SurveyHeadBgImage";
            var surveyHeadBgImageObj = $("input[name='surveyHeadBgImage']");
            var surveyHBIThemeParamObj = surveyHeadBgImageObj.parents(".theme_param");
            surveyHeadBgImageObj.val(surveyHeadBgImage);
            surveyHBIThemeParamObj.find(".previewImage").attr("src", prevHost + surveyHeadBgImage);
            if (showSurveyHbgi == 1) {
                $("#dwSurveyHeader").css({ "background-image": "url(" + prevHost + surveyHeadBgImage + ")" });
                $("input[name='showSurveyHbgi']").prop("checked", true);
            }


            //表头边距
            var surveyHeadPaddingTop = "@Model.SurveyStyle.SurveyHeadPaddingTop";
            var surveyHeadPaddingBottom = "@Model.SurveyStyle.SurveyHeadPaddingBottom";
            $("input[name='surveyHeadPaddingTop']").val(surveyHeadPaddingTop);
            $("input[name='surveyHeadPaddingBottom']").val(surveyHeadPaddingBottom);

            $("#dwSurveyHeader").css({ "padding-top": surveyHeadPaddingTop + "px" });
            $("#dwSurveyHeader").css({ "padding-bottom": surveyHeadPaddingBottom + "px" });

            /** 内容中间样式 **/
            //surveyStyle.showBodyBi
            var showSurveyCbim = "@Model.SurveyStyle.ShowSurveyCbim";

            //surveyStyle.bodyBgColor
            var surveyContentBgColorMiddle = "@Model.SurveyStyle.SurveyContentBgColorMiddle";
            var surveyContentBgColorMiddleObj = $("input[name='surveyContentBgColorMiddle']");
            var surveyCBCMThemeParamObj = surveyContentBgColorMiddleObj.parents(".theme_param");
            surveyContentBgColorMiddleObj.val(surveyContentBgColorMiddle);
            surveyCBCMThemeParamObj.find(".color_box").css({ "background-color": surveyContentBgColorMiddle });;
            $("#dwSurveyQuContentBg").css({ "background-color": surveyContentBgColorMiddle });

            //surveyStyle.bodyBgImage
            var surveyContentBgImageMiddle = "@Model.SurveyStyle.SurveyContentBgImageMiddle";
            var surveyContentBgImageMiddleObj = $("input[name='surveyContentBgImageMiddle']");
            var surveyCBIMThemeParamObj = surveyContentBgImageMiddleObj.parents(".theme_param");
            surveyContentBgImageMiddleObj.val(surveyContentBgImageMiddle);
            surveyCBIMThemeParamObj.find(".previewImage").attr("src", prevHost + surveyContentBgImageMiddle);
            if (showSurveyCbim == 1) {
                $("#dwSurveyQuContentBg").css({ "background-image": "url(" + prevHost + surveyContentBgImageMiddle + ")" });
                $("input[name='showSurveyCbim']").prop("checked", true);
            }

            /** 文本样式 **/
            var questionTitleTextColor = "@Model.SurveyStyle.QuestionTitleTextColor";
            var questionTitleTextColorObj = $("input[name='questionTitleTextColor']");
            var questionTTCThemeParamObj = questionTitleTextColorObj.parents(".theme_param");
            questionTitleTextColorObj.val(questionTitleTextColor);
            questionTTCThemeParamObj.find(".color_box").css({ "background-color": questionTitleTextColor });
            $(".quCoTitle").css({ "color": questionTitleTextColor });

            var questionOptionTextColor = "@Model.SurveyStyle.QuestionOptionTextColor";
            var questionOptionTextColorObj = $("input[name='questionOptionTextColor']");
            var questionOTCThemeParamObj = questionOptionTextColorObj.parents(".theme_param");
            questionOptionTextColorObj.val(questionOptionTextColor);
            questionOTCThemeParamObj.find(".color_box").css({ "background-color": questionOptionTextColor });
            $(".quCoOptionEdit").css({ "color": questionOptionTextColor });

            var surveyTitleTextColor = "@Model.SurveyStyle.SurveyTitleTextColor";
            var surveyTitleTextColorObj = $("input[name='surveyTitleTextColor']");
            var surveyTTCThemeParamObj = surveyTitleTextColorObj.parents(".theme_param");
            surveyTitleTextColorObj.val(surveyTitleTextColor);
            surveyTTCThemeParamObj.find(".color_box").css({ "background-color": surveyTitleTextColor });
            $("#dwSurveyTitle").css({ "color": surveyTitleTextColor });

            var surveyNoteTextColor = "@Model.SurveyStyle.SurveyNoteTextColor";
            var surveyNoteTextColorObj = $("input[name='surveyNoteTextColor']");
            var surveyNTCThemeParamObj = surveyNoteTextColorObj.parents(".theme_param");
            surveyNoteTextColorObj.val(surveyNoteTextColor);
            surveyNTCThemeParamObj.find(".color_box").css({ "background-color": surveyNoteTextColor });
            $("#dwSurveyNoteEdit").css({ "color": surveyNoteTextColor });

            var surveyWidth = "@Model.SurveyStyle.SurveyWidth";
            $("#dw_body_content").width(surveyWidth);
            $("select[name='surveyWidth']").val(surveyWidth);

            var surveyBtnBgColor = "@Model.SurveyStyle.SurveyBtnBgColor";
            if (surveyBtnBgColor !== "") {
                $("#dw_body_content .sbtn24").css({ "background": "none" });
                $("#dw_body_content .sbtn24,.progressbarDiv .ui-progressbar-value").css({ "background-color": surveyBtnBgColor });
                $(".progressbarDiv").css({ "border-color": surveyBtnBgColor });
                $(".progress-label ").css({ "color": surveyBtnBgColor });
                var surveyBtnBgColorObj = $("input[name='surveyBtnBgColor']");
                surveyBtnBgColorObj.val(surveyBtnBgColor);
                var btnBcThemeParamObj = surveyBtnBgColorObj.parents(".theme_param");
                btnBcThemeParamObj.find(".color_box").css({ "background-color": surveyBtnBgColor });
            }

            //显示序号及进度条
            var showTiNum = "@Model.SurveyStyle.ShowTiNum";
            var showProgressbar = "@Model.SurveyStyle.ShowProgressbar";
            if (showTiNum == 0) {
                $("input[name='showTiNum']").prop("checked", false);
                $(".quCoNum").hide();
            }
            if (showProgressbar == 0) {
                $("input[name='showProgressbar']").prop("checked", false);
                $("#resultProgressRoot").hide();
            }

            //表头文本显示
            var showSurTitle = "@Model.SurveyStyle.ShowSurTitle";
            var showSurNote = "@Model.SurveyStyle.ShowSurNote";
            if (showSurTitle == 0) {
                $("input[name='showSurTitle']").prop("checked", false);
                $("#dwSurveyTitle").hide();
            }
            if (showSurNote == 0) {
                $("input[name='showSurNote']").prop("checked", false);
                $("#dwSurveyNote").hide();
            }
        }

        $(".themenail").click(function () {
            var styleModelId = $(this).find(".styleModelId").val();
            //应用模板样式
            var url = '@Url.RouteUrl("styleget")/' + styleModelId;
            $.ajax({
                url: url,
                type: "post",
                success: function (msg) {
                    var surveyStyle = msg;
                    $("#surveyStyleId").val(styleModelId);

                    var showBodyBi = surveyStyle.ShowBodyBi;
                    var bodyBgColor = surveyStyle.BodyBgColor;
                    var bodyBgColorObj = $("input[name='bodyBgColor']");
                    bodyBgColorObj.val(bodyBgColor);
                    var bodyBCThemeParamObj = bodyBgColorObj.parents(".theme_param");
                    bodyBCThemeParamObj.find(".color_box").css({ "background-color": bodyBgColor });
                    $("body").css({ "background-color": bodyBgColor });

                    //surveyStyle.bodyBgImage
                    var bodyBgImage = surveyStyle.BodyBgImage;
                    var bodyBgImageObj = $("input[name='bodyBgImage']");
                    var bodyBIThemeParamObj = bodyBgImageObj.parents(".theme_param");
                    bodyBgImageObj.val(bodyBgImage);
                    bodyBIThemeParamObj.find(".previewImage").attr("src", "/content" + bodyBgImage);
                    if (showBodyBi == 1) {
                        $("body").css({ "background-image": "url(" + "/content" + bodyBgImage + ")" });
                        $("input[name='showBodyBi']").prop("checked", true);
                    }

                    /** 表头样式 **/
                    //surveyStyle.showBodyBi
                    var showSurveyHbgi = surveyStyle.ShowSurveyHbgi;

                    //surveyStyle.bodyBgColor
                    var surveyHeadBgColor = surveyStyle.SurveyHeadBgColor;
                    var surveyHeadBgColorObj = $("input[name='surveyHeadBgColor']");
                    var surveyHBCThemeParamObj = surveyHeadBgColorObj.parents(".theme_param");
                    surveyHeadBgColorObj.val(surveyHeadBgColor);
                    surveyHBCThemeParamObj.find(".color_box").css({ "background-color": surveyHeadBgColor });
                    $("#dwSurveyHeader").css({ "background-color": surveyHeadBgColor });

                    //surveyStyle.bodyBgImage
                    var surveyHeadBgImage = surveyStyle.SurveyHeadBgImage;
                    var surveyHeadBgImageObj = $("input[name='surveyHeadBgImage']");
                    var surveyHBIThemeParamObj = surveyHeadBgImageObj.parents(".theme_param");
                    surveyHeadBgImageObj.val(surveyHeadBgImage);
                    surveyHBIThemeParamObj.find(".previewImage").attr("src", "/content" + surveyHeadBgImage);
                    if (showSurveyHbgi == 1) {
                        $("#dwSurveyHeader").css({ "background-image": "url(" + "/content" + surveyHeadBgImage + ")" });
                        $("input[name='showSurveyHbgi']").prop("checked", true);
                    }

                    /** 内容中间样式 **/
                    //surveyStyle.showBodyBi
                    var showSurveyCbim = surveyStyle.ShowSurveyCbim;

                    //surveyStyle.bodyBgColor
                    var surveyContentBgColorMiddle = surveyStyle.SurveyContentBgColorMiddle;
                    var surveyContentBgColorMiddleObj = $("input[name='surveyContentBgColorMiddle']");
                    var surveyCBCMThemeParamObj = surveyContentBgColorMiddleObj.parents(".theme_param");
                    surveyContentBgColorMiddleObj.val(surveyContentBgColorMiddle);
                    surveyCBCMThemeParamObj.find(".color_box").css({ "background-color": surveyContentBgColorMiddle });;
                    $("#dwSurveyQuContentBg").css({ "background-color": surveyContentBgColorMiddle });

                    //surveyStyle.bodyBgImage
                    var surveyContentBgImageMiddle = surveyStyle.SurveyContentBgImageMiddle;
                    var surveyContentBgImageMiddleObj = $("input[name='surveyContentBgImageMiddle']");
                    var surveyCBIMThemeParamObj = surveyContentBgImageMiddleObj.parents(".theme_param");
                    surveyContentBgImageMiddleObj.val(surveyContentBgImageMiddle);
                    surveyCBIMThemeParamObj.find(".previewImage").attr("src", "/content" + surveyContentBgImageMiddle);
                    if (showSurveyCbim == 1) {
                        $("#dwSurveyQuContentBg").css({ "background-image": "url(" + "/content" + surveyContentBgImageMiddle + ")" });
                        $("input[name='showSurveyCbim']").prop("checked", true);
                    }

                    /** 文本样式 **/
                    var questionTitleTextColor = surveyStyle.QuestionTitleTextColor;
                    var questionTitleTextColorObj = $("input[name='questionTitleTextColor']");
                    var questionTTCThemeParamObj = questionTitleTextColorObj.parents(".theme_param");
                    questionTitleTextColorObj.val(questionTitleTextColor);
                    questionTTCThemeParamObj.find(".color_box").css({ "background-color": questionTitleTextColor });
                    $(".quCoTitle").css({ "color": questionTitleTextColor });

                    var questionOptionTextColor = surveyStyle.QuestionOptionTextColor;
                    var questionOptionTextColorObj = $("input[name='questionOptionTextColor']");
                    var questionOTCThemeParamObj = questionOptionTextColorObj.parents(".theme_param");
                    questionOptionTextColorObj.val(questionOptionTextColor);
                    questionOTCThemeParamObj.find(".color_box").css({ "background-color": questionOptionTextColor });
                    $(".quCoOptionEdit").css({ "color": questionOptionTextColor });

                    var surveyTitleTextColor = surveyStyle.SurveyTitleTextColor;
                    var surveyTitleTextColorObj = $("input[name='surveyTitleTextColor']");
                    var surveyTTCThemeParamObj = surveyTitleTextColorObj.parents(".theme_param");
                    surveyTitleTextColorObj.val(surveyTitleTextColor);
                    surveyTTCThemeParamObj.find(".color_box").css({ "background-color": surveyTitleTextColor });
                    $("#dwSurveyTitle").css({ "color": surveyTitleTextColor });

                    var surveyNoteTextColor = surveyStyle.SurveyNoteTextColor;
                    var surveyNoteTextColorObj = $("input[name='surveyNoteTextColor']");
                    var surveyNTCThemeParamObj = surveyNoteTextColorObj.parents(".theme_param");
                    surveyNoteTextColorObj.val(surveyNoteTextColor);
                    surveyNTCThemeParamObj.find(".color_box").css({ "background-color": surveyNoteTextColor });
                    $("#dwSurveyNoteEdit").css({ "color": surveyNoteTextColor });

                    var surveyBtnBgColor = surveyStyle.SurveyBtnBgColor;
                    if (surveyBtnBgColor !== "") {
                        $("#dw_body_content .sbtn24").css({ "background": "none" });
                        $("#dw_body_content .sbtn24,.progressbarDiv .ui-progressbar-value").css({ "background-color": surveyBtnBgColor });
                        $(".progressbarDiv").css({ "border-color": surveyBtnBgColor });
                        $(".progress-label ").css({ "color": surveyBtnBgColor });
                        var surveyBtnBgColorObj = $("input[name='surveyBtnBgColor']");
                        surveyBtnBgColorObj.val(surveyBtnBgColor);
                        var btnBcThemeParamObj = surveyBtnBgColorObj.parents(".theme_param");
                        btnBcThemeParamObj.find(".color_box").css({ "background-color": surveyBtnBgColor });
                    }
                }
            });
            return false;
        });

        $("input[name='showTiNum']").change(function () {
            if ($(this).prop("checked")) {
                $(".quCoNum").show();
            } else {
                $(".quCoNum").hide();
            }
            return false;
        });

        $("input[name='showProgressbar']").change(function () {
            if ($(this).prop("checked")) {
                $("#resultProgressRoot").show();
            } else {
                $("#resultProgressRoot").hide();
            }
            return false;
        });

        //问卷标题
        $("input[name='showSurTitle']").change(function () {
            if ($(this).prop("checked")) {
                $("#dwSurveyTitle").show();
            } else {
                $("#dwSurveyTitle").hide();
            }
            return false;
        });

        $("input[name='showSurNote']").change(function () {
            if ($(this).prop("checked")) {
                $("#dwSurveyNote").show();
            } else {
                $("#dwSurveyNote").hide();
            }
            return false;
        });

        $("input[name='showSurHead']").change(function () {
            if ($(this).prop("checked")) {
                $("#dwSurveyHeader").show();
            } else {
                $("#dwSurveyHeader").hide();
            }
            return false;
        });

        if (@Model.SurveyDetail.Effective > 1) {
            $("input[name='effective']").attr("checked", true);
        } else {
            $("input[name='effective']").attr("checked", false);
        }
        $("input[name='effectiveIp'][value='@Model.SurveyDetail.EffectiveIp']").attr("checked", true);
        $("input[name='rule'][value='@Model.SurveyDetail.Rule']").attr("checked", true);
        $("input[name='ruleCode']").val("@Model.SurveyDetail.RuleCode");
        $("input[name='refresh'][value='@Model.SurveyDetail.Refresh']").attr("checked", true);
        $("input[name='mailOnly'][value='@Model.SurveyDetail.MailOnly']").attr("checked", true);
        $("input[name='ynEndNum'][value='@Model.SurveyDetail.YnEndNum']").attr("checked", true);
        $("input[name='endNum']").val("@Model.SurveyDetail.EndNum");
        $("input[name='ynEndTime'][value='@Model.SurveyDetail.YnEndTime']").attr("checked", true);
        $("input[name='endTime']").val("@Model.SurveyDetail.EndTime");
        $("input[name='showShareSurvey'][value='@Model.SurveyDetail.ShowShareSurvey']").attr("checked", true);
        $("input[name='showAnswerDa'][value='@Model.SurveyDetail.ShowAnswerDa']").attr("checked", true);

        if ('@ViewBag.editstyle' =='rule') {
                $($("#preview_head .leftTabbar ul li")[0]).click();
            }
            else if ('@ViewBag.editstyle' =='style') {
                $($("#preview_head .leftTabbar ul li")[1]).click();
        }
        resetQuNum();

        var bfbFloat = 50;
        $("#resultProgress").progressbar({ value: bfbFloat });

        $("#dwPhone").hide();
        $("#PhoneSurvey").attr("src", "@Url.Action("Mobile", "Show",new {area = "", id = Model.Id })");
        $(".centerTabbarBtn").click(function () {
            $(".centerTabbarBtn").removeClass("active");
            $(this).addClass("active");
            var thHref = $(this).attr("href");
            if (thHref === "#pc") {
                $("#dw_body").show();
                $("#dwPhone").hide();
            } else {
                $("#dw_body").hide();
                $("#dwPhone").show();
            }
        });

        function notify(msg, delayHid) {
            $(".notification").remove();
            if (delayHid == null) {
                delayHid = 5000;
            }
            $("<div>")
                .appendTo(document.body)
                .text(msg)
                .addClass("notification ui-state-default ui-corner-bottom")
                .position({
                    my: "center top",
                    at: "center top",
                    of: window
                })
                .show({
                    effect: "blind"
                })
                .delay(delayHid)
                .hide({
                    effect: "blind",
                    duration: "slow"
                }, function () {
                    $(this).remove();
                });
        }

        function resetQuNum() {
            var quCoNums = $(".quCoNum");
            $.each(quCoNums, function (i, item) {
                $(this).html((i + 1) + "、");
            });
        }

    });
    </script>
</body>
</html>